.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.object-details {
  width: 50%;
  margin: auto; 
  border: gray 2px solid; 
  border-radius: 30px;
  padding: 0.5rem;
  background-color: #f6f6f4;
}

.action-button {
  display: inline-block;
  font-weight: 100;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .05rem .1rem;;
  font-size: .8rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  margin-top: 0.75rem;
}

